# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
doc/api/
.dart_tool/
.packages
build/
.fvm/

flutter_driver_tests.log
tool/chromedriver
tool/chromedriver.*
.swift-module-cache/_Builtin_float-29I2FX5R09JRX.swiftmodule
.swift-module-cache/_Concurrency-IW47C06QYY26.swiftmodule
.swift-module-cache/_DarwinFoundation1-2TLFCL01X6E99.swiftmodule
.swift-module-cache/_DarwinFoundation2-J20WLEH2N7HF.swiftmodule
.swift-module-cache/_DarwinFoundation3-2JBWOEWT8D60I.swiftmodule
.swift-module-cache/_StringProcessing-1C2ZFCSIKDXY1.swiftmodule
.swift-module-cache/Accessibility-1IPGSAO9HYCD3.swiftmodule
.swift-module-cache/AppKit-1LOKFM1MY4UZU.swiftmodule
.swift-module-cache/Combine-2T3NOOR2MSQGG.swiftmodule
.swift-module-cache/CoreData-UMB3XDC1Q15V.swiftmodule
.swift-module-cache/CoreFoundation-15D7VEK2NZVKF.swiftmodule
.swift-module-cache/CoreGraphics-CQE0TRO7BEJW.swiftmodule
.swift-module-cache/CoreImage-AB03WGY0UHNQ.swiftmodule
.swift-module-cache/CoreText-VOXB9OY1RPGE.swiftmodule
.swift-module-cache/CoreTransferable-3M18XOWYUUFY1.swiftmodule
.swift-module-cache/CoreVideo-2VBKKC9MEFWEF.swiftmodule
.swift-module-cache/Darwin-XQHOF0OECAXW.swiftmodule
.swift-module-cache/DataDetection-3LK1D5C8DW2HB.swiftmodule
.swift-module-cache/DeveloperToolsSupport-22NJIXORVG1TW.swiftmodule
.swift-module-cache/Dispatch-TBTETEO48V6Z.swiftmodule
.swift-module-cache/Distributed-1201G7IVC63ZL.swiftmodule
.swift-module-cache/Foundation-1SB40EO04IY32.swiftmodule
.swift-module-cache/IOKit-1IWPB4B07V0GD.swiftmodule
.swift-module-cache/Metal-22A4RXIHKVYQE.swiftmodule
.swift-module-cache/modules.timestamp
.swift-module-cache/Network-15OG25MJBCL9M.swiftmodule
.swift-module-cache/ObjectiveC-3G1Z6KT6QVNZ0.swiftmodule
.swift-module-cache/Observation-3FD3UXUC8OXLJ.swiftmodule
.swift-module-cache/os-28E9TFNDGK4NM.swiftmodule
.swift-module-cache/OSLog-3D8UZDEUX08WG.swiftmodule
.swift-module-cache/QuartzCore-2RGBUQPGDLMIU.swiftmodule
.swift-module-cache/simd-3CCPZZ1MDDZVX.swiftmodule
.swift-module-cache/Swift-207X6UTF85MUY.swiftmodule
.swift-module-cache/SwiftOnoneSupport-3W234PQLRG1JJ.swiftmodule
.swift-module-cache/SwiftUICore-ZCLNXH21OHT4.swiftmodule
.swift-module-cache/Symbols-1Y4Q070FFZQ9H.swiftmodule
.swift-module-cache/System-1MMYVB8SHGSA0.swiftmodule
.swift-module-cache/UniformTypeIdentifiers-340M27BV756Y3.swiftmodule
.swift-module-cache/WebKit-26EXILX72QREA.swiftmodule
.swift-module-cache/XPC-F8IP89BTUODU.swiftmodule
.swift-module-cache/1O89I04QQ7RUB/_AvailabilityInternal-2YSBQADOLX02V.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_float-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_intrinsics-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_inttypes-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_limits-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_stdarg-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_stdatomic-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_stdbool-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_stddef-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_stdint-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_Builtin_tgmath-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/_DarwinFoundation1-2YSBQADOLX02V.pcm
.swift-module-cache/1O89I04QQ7RUB/_DarwinFoundation2-3J4ZFA06I5V1P.pcm
.swift-module-cache/1O89I04QQ7RUB/_DarwinFoundation3-2NSGASPTSNBVQ.pcm
.swift-module-cache/1O89I04QQ7RUB/_SwiftConcurrencyShims-2IMTS4WWRU7VJ.pcm
.swift-module-cache/1O89I04QQ7RUB/Accessibility-RCJSN2GG3RAR.pcm
.swift-module-cache/1O89I04QQ7RUB/AppKit-2VI8NB39I5AT6.pcm
.swift-module-cache/1O89I04QQ7RUB/ApplicationServices-3NXEUUZF9JJBD.pcm
.swift-module-cache/1O89I04QQ7RUB/CFNetwork-1PNPO1ORVQZLS.pcm
.swift-module-cache/1O89I04QQ7RUB/ColorSync-3EIM4S8RXNRVI.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreData-1KHK1L2CYC2N6.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreFoundation-16SA8WK3L6MQN.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreGraphics-1PSDCAYCIV3T9.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreImage-39ZO87840M5PP.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreServices-39NCTJOEW7PQ2.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreText-3FAL1B4J38DIR.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreTransferable-27T896KGHFB3R.pcm
.swift-module-cache/1O89I04QQ7RUB/CoreVideo-DBBGB2LXU3HG.pcm
.swift-module-cache/1O89I04QQ7RUB/CUPS-1HLHMKUB322XA.pcm
.swift-module-cache/1O89I04QQ7RUB/Darwin-1FXX23EKWOBA9.pcm
.swift-module-cache/1O89I04QQ7RUB/DataDetection-R5W4QHNMPWVH.pcm
.swift-module-cache/1O89I04QQ7RUB/DeveloperToolsSupport-3SUCMSK9ZS2JA.pcm
.swift-module-cache/1O89I04QQ7RUB/DiskArbitration-3LBJF5I58QD8.pcm
.swift-module-cache/1O89I04QQ7RUB/Dispatch-R76HXUP80TVL.pcm
.swift-module-cache/1O89I04QQ7RUB/dnssd-2FQ6JB8PHCNKU.pcm
.swift-module-cache/1O89I04QQ7RUB/Foundation-24LYWIP48SHNP.pcm
.swift-module-cache/1O89I04QQ7RUB/ImageIO-2ZSF831VT29UB.pcm
.swift-module-cache/1O89I04QQ7RUB/IOKit-1IAL9NTK1TABA.pcm
.swift-module-cache/1O89I04QQ7RUB/IOSurface-26455DPS9NDS0.pcm
.swift-module-cache/1O89I04QQ7RUB/JavaScriptCore-179YF19M15PYU.pcm
.swift-module-cache/1O89I04QQ7RUB/launch-3T3BU4MASLMUM.pcm
.swift-module-cache/1O89I04QQ7RUB/libDER-26DYHF6GC6WWA.pcm
.swift-module-cache/1O89I04QQ7RUB/libkern-2KQ0X67RTM1JF.pcm
.swift-module-cache/1O89I04QQ7RUB/MachO-20RPYVQSX341K.pcm
.swift-module-cache/1O89I04QQ7RUB/Metal-1GCZV9N85NJOH.pcm
.swift-module-cache/1O89I04QQ7RUB/Network-25YL5WDWFD9R4.pcm
.swift-module-cache/1O89I04QQ7RUB/ObjectiveC-1G8H182PQX3QE.pcm
.swift-module-cache/1O89I04QQ7RUB/OpenGL-H89XJT7GTCP.pcm
.swift-module-cache/1O89I04QQ7RUB/os_object-2MV8OP7R98AN8.pcm
.swift-module-cache/1O89I04QQ7RUB/os_workgroup-2MV8OP7R98AN8.pcm
.swift-module-cache/1O89I04QQ7RUB/os-2MV8OP7R98AN8.pcm
.swift-module-cache/1O89I04QQ7RUB/OSLog-218FBXNFJGY61.pcm
.swift-module-cache/1O89I04QQ7RUB/ptrauth-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/ptrcheck-19KE09ZDXQ6Q3.pcm
.swift-module-cache/1O89I04QQ7RUB/QuartzCore-39A8LQKF980J1.pcm
.swift-module-cache/1O89I04QQ7RUB/Security-3QCVXOV25KK54.pcm
.swift-module-cache/1O89I04QQ7RUB/simd-KY25Q80SBOHY.pcm
.swift-module-cache/1O89I04QQ7RUB/SwiftShims-2IMTS4WWRU7VJ.pcm
.swift-module-cache/1O89I04QQ7RUB/SwiftUICore-86HIVXUC6WOA.pcm
.swift-module-cache/1O89I04QQ7RUB/Symbols-3KC1789KJFX94.pcm
.swift-module-cache/1O89I04QQ7RUB/sys_types-3J4ZFA06I5V1P.pcm
.swift-module-cache/1O89I04QQ7RUB/UniformTypeIdentifiers-1OLJP4K3PLM48.pcm
.swift-module-cache/1O89I04QQ7RUB/WebKit-BPBG9Q4M0N4D.pcm
.swift-module-cache/1O89I04QQ7RUB/XPC-T0ZXCAST7PE3.pcm
